#####################################################################
# DanielDlc
#####################################################################

*.o
*.so
*.a
*.bin
*.exe

#####################################################################
# archives
#####################################################################

*.tar
*.rar
*.zip
*.tar.bz2
*.tar.gz
*.tgz

*.deb

#####################################################################
# Texts
#####################################################################

*.log
*.txt
*.csv
*.csv#
*.json
*.ini
*.html

#####################################################################
# Images
#####################################################################

*.png
*.jpg
*.jpeg
*.svg

#####################################################################
# Other
#####################################################################

~*
*~
*~*
